In [1]:
%pylab inline
from pandas import Series, DataFrame
import pandas as pd
import matplotlib.pyplot as plt

Populating the interactive namespace from numpy and matplotlib

In [15]:
from datetime import datetime, date, time, timedelta

In [2]:
rng = pd.date_range('1/1/2000', periods=10000000, freq='10ms')

In [3]:
ts = Series(np.random.randn(len(rng)), index=rng)

In [4]:
ts.head()

2000-01-01 00:00:00           0.846665
2000-01-01 00:00:00.010000   -0.497797
2000-01-01 00:00:00.020000   -1.223423
2000-01-01 00:00:00.030000   -0.648407
2000-01-01 00:00:00.040000    0.147620
Freq: 10L, dtype: float64

In [6]:
ts.resample('15min', how='ohlc').head()

                         open      high       low     close
2000-01-01 00:00:00  0.846665  4.302305 -4.099486  0.982235
2000-01-01 00:15:00  0.725173  4.454019 -4.175307 -0.196354
2000-01-01 00:30:00 -0.487569  4.708520 -4.507258 -0.703136
2000-01-01 00:45:00  0.219955  4.131827 -4.149388  2.748819
2000-01-01 01:00:00 -0.834409  4.342003 -3.944252 -0.283636

In [7]:
%timeit ts.resample('15min', how='ohlc')

10 loops, best of 3: 45.7 ms per loop

In [8]:
rng = pd.date_range('1/1/2000', periods=10000000, freq='1s')
ts = Series(np.random.randn(len(rng)), index=rng)
ts.head()

2000-01-01 00:00:00    0.851155
2000-01-01 00:00:01   -0.141601
2000-01-01 00:00:02    0.640751
2000-01-01 00:00:03   -0.352640
2000-01-01 00:00:04   -0.505881
Freq: S, dtype: float64

In [9]:
%timeit ts.resample('15s', how='ohlc')

1 loops, best of 3: 96.7 ms per loop

In [10]:
from dateutil.parser import parse

datetime.datetime(1997, 1, 31, 22, 45)

In [12]:
print parse('2011-01-03')
print parse('6/12/2011') 
print parse('Jan 31, 1997 10:45 PM')

2011-01-03 00:00:00
2011-06-12 00:00:00
1997-01-31 22:45:00

In [13]:
parse('42')

datetime.datetime(2042, 6, 10, 0, 0)

In [16]:
dates = [datetime(2011, 1, 2), datetime(2011, 1, 5), datetime(2011, 1, 7), datetime(2011, 1, 8), datetime(2011, 1, 10), datetime(2011, 1, 12)]
ts = Series(np.random.randn(6), index=dates)

In [17]:
ts

2011-01-02   -0.625085
2011-01-05    0.305220
2011-01-07    1.014951
2011-01-08    0.620054
2011-01-10    0.616253
2011-01-12    0.467356
dtype: float64

In [20]:
ts[::2]

2011-01-02   -0.625085
2011-01-07    1.014951
2011-01-10    0.616253
dtype: float64

In [21]:
ts.add(ts[::2],fill_value=0)

2011-01-02   -1.250170
2011-01-05    0.305220
2011-01-07    2.029902
2011-01-08    0.620054
2011-01-10    1.232506
2011-01-12    0.467356
dtype: float64

In [23]:
ts.index.dtype

dtype('<M8[ns]')

In [32]:
len(ts['1/3/2011':'1/4/2011'])

0

In [24]:
longer_ts = Series(np.random.randn(1000), index=pd.date_range('1/1/2000', periods=1000))

In [25]:
longer_ts.head()

2000-01-01   -0.298812
2000-01-02   -0.198170
2000-01-03   -0.238196
2000-01-04    0.196822
2000-01-05    1.776329
Freq: D, dtype: float64

In [27]:
longer_ts['2001-05']

2001-05-01   -0.986430
2001-05-02   -0.165505
2001-05-03    0.907378
2001-05-04   -0.600211
2001-05-05    2.098888
2001-05-06   -0.779227
2001-05-07   -0.188450
2001-05-08   -0.057118
2001-05-09    0.138363
2001-05-10   -0.266098
2001-05-11    0.414678
2001-05-12    0.357105
2001-05-13    0.065936
2001-05-14    1.092951
2001-05-15    1.540859
2001-05-16    0.072173
2001-05-17    0.610731
2001-05-18   -0.126448
2001-05-19    0.747461
2001-05-20    0.391824
2001-05-21   -0.030552
2001-05-22   -0.101066
2001-05-23    0.252065
2001-05-24   -0.990279
2001-05-25    0.279537
2001-05-26   -1.335440
2001-05-27   -1.004702
2001-05-28    0.419751
2001-05-29   -0.141365
2001-05-30    0.232903
2001-05-31   -0.481980
Freq: D, dtype: float64

In [29]:
long_df = DataFrame(np.random.randn(100, 4), 
                    index=pd.date_range('1/1/2000', periods=100, freq='W-WED'),
                    columns=['Colorado', 'Texas', 'New York', 'Ohio'])

In [30]:
long_df.head()

            Colorado     Texas  New York      Ohio
2000-01-05 -0.039659 -0.313733  0.416138 -1.595709
2000-01-12  0.082595 -1.856639  0.104252 -0.741068
2000-01-19 -0.295864 -1.041190  0.610955  0.525546
2000-01-26 -0.960750  0.030816  0.048490  0.516169
2000-02-02  0.657812  0.480306 -0.909590 -0.911614